<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="./editar-producto.component.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap" />
</head>
<body>
    <div class="editar-producto">
        <b class="editar-producto1">Editar Producto</b>
        <button class="regresar" (click)="onRegresar()">
            <b>&lt; </b>
            <span class="regresar1">Regresar</span>
        </button>
        <form [formGroup]="productoForm" (ngSubmit)="onGuardar()">
            <div class="input">
                <div class="input-child"></div>
                <div class="nombre">Nombre</div>
                <input type="text" class="input-item" formControlName="nombreProducto">
            </div>
            <div class="input1">
                <div class="input-child"></div>
                <div class="marca">Marca</div>
                <input type="text" class="input-item" formControlName="marca">
            </div>
            <div class="input2">
                <div class="input-child"></div>
                <div class="descripcin">Descripción</div>
                <input type="text" class="input-item" formControlName="descripcion">
            </div>
            <div class="input3">
                <div class="input-child"></div>
                <div class="precio">Precio</div>
                <input type="number" class="input-item" formControlName="precio">
            </div>
            <div class="cbocategorias">
                <div class="input-child"></div>
                <div class="categoria">Categoría</div>
                <select class="input-item" formControlName="codigoCategoria">
                    @for(categoria of categorias; track $index){
                        <option  [value]="categoria.codigoCategoria">{{ categoria.nombreCategoria }}</option>
                    }
                    
                </select>
            </div>
            <div class="input4">
                <div class="input-child"></div>
                <div class="cantidad">Cantidad</div>
                <input type="number" class="input-item" formControlName="cantidadStock">
            </div>
            <button class="btnguardar" type="submit" [disabled]="productoForm.invalid">
                <div class="btnguardar-child"></div>
                <b class="guardar">Guardar</b>
            </button>
        </form>
    </div>
</body>
</html>
