<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    
    <link rel="stylesheet" href="./agregar-producto.component.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Font+Awesome+6+Free:wght@400&display=swap" />
</head>
<body>
    
    <div class="agregar-producto">
        <b class="agregar-producto1">Agregar Producto</b>
        <button class="regresar">
            <b>&lt; </b>
            <span class="regresar1">Regresar</span>
        </button>
        <button class="btnguardar">
            <div class="btnguardar-child"></div>
            <b class="guardar">Guardar</b>
        </button>
        <img class="inputimage-icon" alt="" src="inputImage.png">
        <div class="rectangle-div">
            <div class="div"></div>
        </div>
        
        <div class="input">
            <div class="input-child"></div>
            <div class="nombre">Nombre</div>
            <input type="text" class="input-item">
        </div>
        <div class="input1">
            <div class="input-child"></div>
            <div class="marca">Marca</div>
            <input type="text" class="input-item">
        </div>
        <div class="input2">
            <div class="input-child"></div>
            <div class="descripcin">Descripción</div>
            <input type="text" class="input-item">
        </div>
        <div class="input3">
            <div class="input-child"></div>
            <div class="marca">Precio</div>
            <input type="text" class="input-item">
        </div>
        <div class="cbocategorias">
            <div class="input-child"></div>
            <div class="categora">Categoría</div>
            <select class="input-item">
                <option value="categoria1">Categoría 1</option>
                <option value="categoria2">Categoría 2</option>
                <option value="categoria3">Categoría 3</option>
                
            </select>
        </div>
        <div class="input4">
            <div class="input-child"></div>
            <div class="categora">Cantidad</div>
            <input type="text" class="input-item">
        </div>
    </div>
    
</body>
</html>
