<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    
    <link rel="stylesheet" href="./login-admin.component.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap" />
</head>
<body>
    
    <div class="login-admin">
        <img class="img-logo-icon" alt="Logo" src="../images/img_logo.png">
        <div class="input">
            <div class="input-child"></div>
            <input type="email" placeholder="Correo Electrónico" class="correo-electronico-input">
        </div>
        
        <div class="input1">
            <div class="input-child"></div>
            <input type="password" placeholder="Contraseña" class="contrasena-input">
        </div>
        
        <div class="btniniciar">
            <div class="btniniciar-child"></div>
            <button type="submit" class="iniciar-sesion-btn"><b>Iniciar Sesión</b></button>
        </div>
    </div>
    
</body>
</html>
