<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-center">Lista de Productos</h2>
    <button class="btn-menu" (click)="navigateToMenu()">Menú de Opciones</button>
    <button class="btn-success" (click)="navigateToCreateProduct()">Agregar Producto</button>
  </div>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
        @for (producto of productos; track $index) {
        <tr>
          <td>{{ producto.codigoProducto }}</td>
          <td>{{ producto.nombreProducto }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.cantidadStock }}</td>
          <td>{{ producto.categoria.nombreCategoria }}</td>
          <td>
            <button class="btn-warning" (click)="updateProducto(producto)">Actualizar</button>
            
          </td>
        </tr>
    }
      </tbody>
    </table>
  </div>
  