.product-list {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .table th, .table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .table-row {
    transition: background-color 0.3s ease;
  }
  
  .btn-update {
    padding: 8px 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-update:hover {
    background-color: #218838;
  }
  
  /* Estilos para el encabezado y el título */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Estilos para la tabla responsiva */
  @media (max-width: 768px) {
    .table {
      overflow-x: auto;
    }
  }

  .btn-success {
    background-color: #28a745;
    color: white;
  }
  
  .btn-success:hover {
    background-color: #218838;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .btn-menu {
    background-color: #007bff;
    color: white;
  }
  
  .btn-menu:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .btn-warning {
    background-color: #ffc107;
    color: black;
  }
  
  .btn-warning:hover {
    background-color: #e0a800;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}
  